body
{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: thick;
}
.grayButton
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 100px;
    left: 20%;
    background-color: gray;
    color: white;
    font-size: 40px;
    border-color: black;
    padding: 80px;
}
.greenButton
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 100px;
    left: 40%;
    background-color: green;
    color: white;
    font-size: 40px;
    border-color: black;
    padding: 80px;
}
.purpleButton
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 100px;
    left: 60%;
    background-color: purple;
    color: white;
    font-size: 40px;
    border-color: black;
    padding: 80px;
}
.minusButton
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 350px;
    left: 40%;
    background-color: white;
    color: black;
    font-size: 50px;
    border-color: black;
    padding: 20px;
}
.plusButton
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 350px;
    left: 50.5%;
    background-color: white;
    color: black;
    font-size: 50px;
    border-color: black;
    padding: 20px;
}
.saveButton
{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 450px;
    left: 44.66%;
    background-color: white;
    color: black;
    font-size: 30px;
    border-color: black;
    padding: 5px;
}
.currNumber
{
    display: flex;
    position: fixed;
    top: 380px;
    left: 46.4%;
    color: gray;
    font-size: 30px;
}
.oldNumbers
{
    display: flex;
    position: fixed;
    top: 550px;
    left: 46.4%;
    color: gray;
    font-size: 30px;
}